---
import Layout from "#layouts/Layout.astro";
import Section from "#components/Section.astro";
import BlogIntro from "#pods/heros/blog-intro.astro";
import PostCollection from "#pods/post-collection/post-collection.pod.astro";
import PostLocal from "#pods/post-collection/post-local.pod.astro";

import { basics } from "#data/info.json";
const { name, label } = basics;
---

<Layout title={`Blog de ${name} • ${label}`}>
  <Section >
    <BlogIntro /> 
  </Section>
  <PostCollection />
  <PostLocal />
</Layout>
