---
import Html5 from "#assets/icons/Html5.astro";
import Css3 from "#assets/icons/Css3.astro";
import Javascript from "#assets/icons/Javascript.astro";
import AstroJS from "#assets/icons/AstroJS.astro";
import React from "#assets/icons/React.astro";
import TailwindCss from "#assets/icons/TailwindCss.astro";
import Gemini from "#assets/icons/Gemini.astro";
import Figma from "#assets/icons/Figma.astro";
import ChatGpt from "#assets/icons/ChatGpt.astro";
import Notion from "#assets/icons/Notion.astro";
import Trello from "#assets/icons/Trello.astro";
import Tools from "#assets/icons/Tools.astro";
import Brain from "#assets/icons/Brain.astro";

const SKILLS_ICON: Record<string, any> = {
  Html5,
  Css3,
  Javascript,
  AstroJS,
  React,
  TailwindCss,
  Gemini,
  Figma,
  ChatGpt,
  Notion,
  Trello,
  Tools,
  Brain,
};

import { skills } from "#data/info.json";
---

<section
  aria-labelledby="skills-heading"
  class="stock-ticker shadow-[inset_-12px_-8px_40px_rgba(var(--light),0.25)] dark:shadow-[inset_-12px_-8px_40px_rgba(var(--dark),0.25)] text-xs uppercase font-geist bg-transparent select-none overflow-hidden flex p-4 gap-4 [&>ul]:flex [&>ul]:items-center [&>ul]:justify-between [&>ul]:shrink-0 [&>ul]:gap-4 [&>ul]:bg-transparent [&>ul]:min-w-full [&>ul]:animate-[scroll_30s_linear_infinite] [&>ul]:list-none [&>ul>li]:flex [&>ul>li]:items-center [&>ul>li]:justify-center [&>ul>li]:gap-1 [&>ul>li]:rounded-lg [&>ul>li]:px-3 [&>ul>li]:py-1 [&>ul>li]:w-fit [&>ul>li]:shadow-[0_0_4px_rgb(var(--color),0.15)] [&>ul>li]:hover:text-secondary-500 dark:[&>ul>li]:hover:text-tertiary-700 [&>ul>li>span]:font-medium [&>ul>li>span]:text-shadow-[0_0_4px_rgb(var(--color),0.35)] [&>ul>li>svg]:size-5"
>
  <ul>
    {
      skills.map(({ name, icon }) => {
        const Icon = SKILLS_ICON[icon];
        if (!Icon) return null;
        return (
          <li>
            <Icon aria-hidden="true" />
            <span>{name}</span>
          </li>
        );
      })
    }
  </ul>

  <ul aria-hidden="true">
    {
      skills.map(({ name, icon }) => {
        const Icon = SKILLS_ICON[icon];
        if (!Icon) return null;
        return (
          <li>
            <Icon aria-hidden="true" />
            <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</section>

<style>
  .stock-ticker {
    --gap: 1rem;
    mask-image: linear-gradient(
      to right,
      transparent,
      rgb(var(--color)) 30% 70%,
      transparent
    );
  }
  .stock-ticker:hover ul {
    animation-play-state: paused;
  }
</style>
