@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import 'tailwind-animations';
@import '@fontsource-variable/geist/wght.css';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/inter-tight';
@import '@fontsource-variable/inconsolata';

:root {
	/* Fonts */
	--font-geist: "Geist Variable", sans-serif;
	--font-inter-tight: "Inter Tight Variable", sans-serif;
	--font-inter: "Inter Variable", sans-serif;
	--font-inconsolata: "Inconsolata Variable", monospace;
	/* Sizes */
	--step--2: clamp(.8247rem, .8445rem + -0.022vw, .8395rem);
	--step--1: clamp(.9444rem, 0.9294rem + 0.0669vw, 1rem);
	--step-0: clamp(1.0625rem, 1.0208rem + 0.1852vw, 1.1875rem);
	--step-1: clamp(1.1953rem, 1.1188rem + 0.3403vw, 1.425rem);
	--step-2: clamp(1.3447rem, 1.223rem + 0.5411vw, 1.71rem);
	--step-3: clamp(1.5128rem, 1.3331rem + 0.7988vw, 2.052rem);
	--step-4: clamp(1.7019rem, 1.4484rem + 1.1266vw, 2.4624rem);
	--step-5: clamp(1.9147rem, 1.5679rem + 1.5411vw, 2.9549rem);
	--step-6: clamp(2.154rem, 1.69rem + 2.062vw, 3.5459rem);

	/* Colors Base */
	--dark: 30, 37, 44; 	/* #1e252c */
	--light: 255, 254, 254; 	/* #fffefe */
	--accent: 205, 82, 65; 	/* #cd5241 */
	--accent-dark: 98, 35, 26; 	/* #62231a */
	--accent-50: 0, 102, 94; 	/* #00665e */
	--accent-dark-50: 0, 60, 55; 	/* #003c37 */
	--color-text: hsl(210, 19%, 15%); 	--color: 30, 37, 44;

	--color-primary-50: rgb(238, 241, 245);
	--color-primary-100: rgb(212, 221, 231);
	--color-primary-200: rgb(173, 191, 210);
	--color-primary-300: rgb(140, 164, 189);
	--color-primary-400: rgb(118, 139, 160);
	--color-primary-500: rgb(98, 116, 134);
	--color-primary-600: rgb(79, 94, 109);
	--color-primary-700: rgb(62, 74, 86);
	--color-primary-800: rgb(45, 55, 64);
	--color-primary-900: rgb(30, 37, 44);
	--color-primary-950: rgb(13, 17, 22);

	--color-secondary-50: rgb(225, 244, 254);
	--color-secondary-100: rgb(171, 226, 253);
	--color-secondary-200: rgb(45, 199, 245);
	--color-secondary-300: rgb(36, 168, 207);
	--color-secondary-400: rgb(28, 139, 172);
	--color-secondary-500: rgb(21, 112, 140);
	--color-secondary-600: rgb(14, 88, 110);
	--color-secondary-700: rgb(8, 65, 82);
	--color-secondary-800: rgb(5, 50, 64);
	--color-secondary-900: rgb(2, 30, 40);
	--color-secondary-950: rgb(1, 19, 26);

	--color-tertiary-50: rgb(254, 238, 225);
	--color-tertiary-100: rgb(254, 219, 191);
	--color-tertiary-200: rgb(253, 190, 122);
	--color-tertiary-300: rgb(245, 166, 35);
	--color-tertiary-400: rgb(221, 150, 31);
	--color-tertiary-500: rgb(189, 127, 24);
	--color-tertiary-600: rgb(154, 103, 18);
	--color-tertiary-700: rgb(118, 77, 11);
	--color-tertiary-800: rgb(81, 52, 5);
	--color-tertiary-900: rgb(45, 27, 2);
	--color-tertiary-950: rgb(27, 14, 1);
	/* Background */
	--hdr-gradient: linear-gradient(to top in oklch,
			oklch(0.9378 0.0011 17.18) 0%,
			oklch(0.9978 0.001061 17.1758) 100%);
	--sdr-gradient: linear-gradient(to top left, #ebeaea 0%, #fffefe 100%);
	background: var(--hdr-gradient);
	/* Various */
	--gap: 1rem;
	--bg-size: 200%;
}

:root.dark {
	--color-text: #fffefe;
	--color: 255, 254, 254;

	--color-primary-50: rgb(13, 17, 22);
	--color-primary-100: rgb(30, 37, 44);
	--color-primary-200: rgb(45, 55, 64);
	--color-primary-300: rgb(62, 74, 86);
	--color-primary-400: rgb(79, 94, 109);
	--color-primary-500: rgb(98, 116, 134);
	--color-primary-600: rgb(118, 139, 160);
	--color-primary-700: rgb(140, 164, 189);
	--color-primary-800: rgb(173, 191, 210);
	--color-primary-900: rgb(212, 221, 231);
	--color-primary-950: rgb(238, 241, 245);

	--color-secondary-50: rgb(1, 19, 26);
	--color-secondary-100: rgb(2, 30, 40);
	--color-secondary-200: rgb(5, 50, 64);
	--color-secondary-300: rgb(8, 65, 82);
	--color-secondary-400: rgb(14, 88, 110);
	--color-secondary-500: rgb(21, 112, 140);
	--color-secondary-600: rgb(28, 139, 172);
	--color-secondary-700: rgb(36, 168, 207);
	--color-secondary-800: rgb(45, 199, 245);
	--color-secondary-900: rgb(171, 226, 253);
	--color-secondary-950: rgb(225, 244, 254);

	--color-tertiary-50: rgb(27, 14, 1);
	--color-tertiary-100: rgb(45, 27, 2);
	--color-tertiary-200: rgb(81, 52, 5);
	--color-tertiary-300: rgb(118, 77, 11);
	--color-tertiary-400: rgb(154, 103, 18);
	--color-tertiary-500: rgb(189, 127, 24);
	--color-tertiary-600: rgb(221, 150, 31);
	--color-tertiary-700: rgb(245, 166, 35);
	--color-tertiary-800: rgb(253, 190, 122);
	--color-tertiary-900: rgb(254, 219, 191);
	--color-tertiary-950: rgb(254, 238, 225);

	--hdr-gradient: linear-gradient(to bottom right in oklch,
			oklch(0.2172 0.0302 261.27) 0%,
			60%,
			oklch(0.1913 0 0) 100%);
	--sdr-gradient: linear-gradient(to bottom right,
			#121a28 0%,
			60%,
			#141414 100%);
	background: var(--hdr-gradient);
}

@theme {

	--color-primary-50: var(--color-primary-50);
	--color-primary-100: var(--color-primary-100);
	--color-primary-200: var(--color-primary-200);
	--color-primary-300: var(--color-primary-300);
	--color-primary-400: var(--color-primary-400);
	--color-primary-500: var(--color-primary-500);
	--color-primary-600: var(--color-primary-600);
	--color-primary-700: var(--color-primary-700);
	--color-primary-800: var(--color-primary-800);
	--color-primary-900: var(--color-primary-900);
	--color-primary-950: var(--color-primary-950);

	--color-secondary-50: var(--color-secondary-50);
	--color-secondary-100: var(--color-secondary-100);
	--color-secondary-200: var(--color-secondary-200);
	--color-secondary-300: var(--color-secondary-300);
	--color-secondary-400: var(--color-secondary-400);
	--color-secondary-500: var(--color-secondary-500);
	--color-secondary-600: var(--color-secondary-600);
	--color-secondary-700: var(--color-secondary-700);
	--color-secondary-800: var(--color-secondary-800);
	--color-secondary-900: var(--color-secondary-900);
	--color-secondary-950: var(--color-secondary-950);

	--color-tertiary-50: var(--color-tertiary-50);
	--color-tertiary-100: var(--color-tertiary-100);
	--color-tertiary-200: var(--color-tertiary-200);
	--color-tertiary-300: var(--color-tertiary-300);
	--color-tertiary-400: var(--color-tertiary-400);
	--color-tertiary-500: var(--color-tertiary-500);
	--color-tertiary-600: var(--color-tertiary-600);
	--color-tertiary-700: var(--color-tertiary-700);
	--color-tertiary-800: var(--color-tertiary-800);
	--color-tertiary-900: var(--color-tertiary-900);
	--color-tertiary-950: var(--color-tertiary-950);

	--font-inter-tight: "Inter Tight Variable", sans-serif;
	--font-inter: "Inter Variable", sans-serif;
	--font-inconsolata: "Inconsolata Variable", monospace;
	--font-geist: "Geist Variable", sans-serif;

	--text-xs: var(--step--2);
	--text-sm: var(--step--1);
	--text-base: var(--step-0);
	--text-lg: var(--step-1);
	--text-xl: var(--step-2);
	--text-2xl: var(--step-3);
	--text-3xl: var(--step-4);
	--text-4xl: var(--step-5);
	--text-5xl: var(--step-6);

	--color-tbase-500: var(--color-text);

	--shadow-sm: 0 1px 2px 0 hsl(from var(--color-primary-500) h s l / 0.05);
	--shadow-md:
		0 4px 6px -1px hsl(from var(--color-primary-500) h s l / 0.1),
		0 2px 4px -1px hsl(from var(--color-primary-500) h s l / 0.06);
	--shadow-lg:
		0 10px 15px -3px hsl(from var(--color-primary-500) h s l / 0.1),
		0 4px 6px -2px hsl(from var(--color-primary-500) h s l / 0.05);

	--radius-4xl: 1.75rem;
	--radius-3xl: 1.5rem;
	--radius-2xl: 1.25rem;

	--color-text-color: rgb(var(--color));

}

@layer components {
	.marked {
    @apply text-base leading-relaxed;
		h1, h2, h3, h4, h5, h6 {
			@apply font-bold tracking-tight leading-tight mt-2 mb-4 text-pretty;
		}

    h1 {
      @apply  text-[40px];
    }

    h2 {
      @apply text-[32px];
    }

    h3 {
      @apply text-[24px];
    }

		h4 {
			@apply text-[20px];
		}

		h5, h6 {
			@apply text-[18px];
		}

    p {
      @apply mb-6 leading-tight;
    }

    img {
      @apply mt-6 mb-6 h-auto max-w-full rounded-lg;
    }

    ul {
      @apply mb-4 ml-6 list-disc space-y-1 pl-4 list-inside leading-normal;
    }

    ol {
      @apply mb-4 ml-6 list-decimal space-y-1 pl-4 list-inside ;
    }

    blockquote {
      @apply mt-6 mb-6 ml-6 border-l-3 border-[rgb(var(--color),0.45)] pl-4 text-[rgb(var(--color),0.75)] italic tracking-tighter leading-tight text-sm md:text-lg;
    }

    hr {
      @apply my-8 border-t border-[rgb(var(--color),0.15)];
    }

    a {
      @apply text-primary-600 hover:text-primary-700 decoration-[1.4px] underline-offset-2 transition-all hover:underline;
    }

		table {
			@apply table-fixed text-sm border-separate border border-[rgb(var(--color),0.05)] border-spacing-3 rounded-md bg-[rgb(var(--light),0.05)] backdrop-blur-2xl ;
			thead tr th {
				@apply border-b border-dashed ;
			}
		}

		mark {
			@apply bg-amber-300 text-zinc-800 px-1 font-light rounded-xs ;
		}

    pre {
      @apply text-sm bg-[rgb(var(--light),0.85)] text-[rgb(var(--color),0.85)] dark:bg-gray-900  font-light leading-normal py-2 px-4;
    }

		pre > code {
			all: unset;
		}		

    code.hljs {
      @apply bg-[rgb(var(--light),0.85)] dark:bg-gray-900 text-[rgb(var(--color),0.85)] tracking-tight font-inconsolata font-light text-sm backdrop-blur-2xl  ;
    }

    code:not(pre code) {
      @apply rounded bg-[rgb(var(--light),0.85)] px-1.5 py-1 dark:bg-gray-900;
    }
  }
	
	.title-gradient {
		@apply bg-linear-to-br from-[rgb(var(--light),0.85)] via-[rgb(var(--light),0.65)] to-slate-500 bg-clip-text text-transparent;
		padding-bottom: 0.1em;
	}
}

body {
	font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-geist);
}

.color-pattern {
	@apply fixed inset-0 -z-100;
	background: radial-gradient(ellipse 120% 80% at 70% 20%,
			hsl(330.37, 81%, 60%, 0.15),
			transparent 50%),
		radial-gradient(ellipse 100% 60% at 30% 10%,
			hsl(175, 100%, 20%, 0.12),
			transparent 60%),
		radial-gradient(ellipse 90% 70% at 50% 0%,
			hsl(194, 82%, 18%, 0.18),
			transparent 65%),
		radial-gradient(ellipse 110% 50% at 80% 30%,
			hsl(37, 91%, 55%, 0.08),
			transparent 40%),
		transparent;
}

.bg-pattern {
	@apply fixed inset-0 -z-80;
	background-image:
		linear-gradient(45deg, transparent 49%, rgb(var(--color), 0.05) 49%, rgb(var(--color), 0.05) 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, rgb(var(--color), 0.05) 49%, rgb(var(--color), 0.05) 51%, transparent 51%);
	background-size: 24px 24px;
	mask-image:
		radial-gradient(ellipse 70% 60% at 50% 0%, #000 60%, transparent 100%);
}

.print {
	display: none !important;
}

.main-content {
	word-wrap: break-word;
	overflow-wrap: break-word;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
		letter-spacing: -0.05em;
		line-height: 1.25;
		margin: 0.5rem 0 1rem;
		color: rgb(var(--color), 0.85);
		text-wrap: pretty;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	h5,
	h6 {
		font-size: 18px;
	}

	strong,
	b {
		font-weight: 500;
	}

	a {
		color: var(--color-cyan-700);
		transition: all 0.3s ease;

		&:where(.dark, .dark *) {
			color: var(--color-yellow-600);
		}

		&:hover {
			color: var(--color-red-500);
			text-decoration: underline;
			text-underline-offset: 2px;
			text-shadow: 0 0 8px rgb(var(--color), 0.25);
		}

		&:where(.dark, .dark *):hover {
			color: var(--color-green-500);
		}
	}

	p {
		line-height: 1.5;
		margin-bottom: 1.5rem;
	}

	textarea {
		width: 100%;
		font-size: 1rem;
	}

	input {
		font-size: 1rem;
	}

	table {
		width: 100%;
		letter-spacing: 0.025em;
		line-height: 1.5;
		border-collapse: separate;
		table-layout: auto;
	}

	img {
		max-width: 100%;
		height: auto;
		border-radius: 8px;
	}

	code {
		font-family: var(--font-inconsolata);
		font-weight: 300;
		padding: 2px 6px;
		border-radius: 4px;
		letter-spacing: 0.05em;
		background-color: var(--color-gray-900);
		color: var(--color-white);
	}

	pre {
		background-color: var(--color-gray-900);
		padding: 1rem;
		border-radius: 8px;
		line-height: 1.5;
		font-weight: 300;
	}

	pre>code {
		all: unset;
	}

	blockquote {
		margin-left: 1rem;
		padding-left: 1rem;
		font-size: var(--text-sm);
		letter-spacing: -0.05em;
		line-height: 1.25;
		border-left: 3px solid rgb(var(--color), 0.85);

		@media (width >=40rem) {
			font-size: var(--text-lg);
		}
	}

	hr {
		border-top: 1px solid rgb(var(--color), 0.35);
		margin-block: 1rem;
	}

	mark {
		background-color: var(--color-amber-300);
		padding-inline: 4px;
		color: var(--color-zinc-800);
	}

	ul {
		margin: 0;
		padding: 0 0 0 16px;
		list-style-type: disc;
		list-style-position: inside;
		line-height: 1.5;
	}

	ol {
		margin: 0;
		padding: 0 0 0 1rem;
		list-style-type: decimal;
		list-style-position: inside;
		line-height: 1.5;
	}
}

@media print {
	.no-print {
		display: none !important;
	}

	.print {
		display: block !important;
	}

	article {
		break-inside: avoid;
	}

	astro-dev-toolbar {
		display: none !important;
	}
}

/* Animations */
@keyframes blinks {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

@keyframes scroll {
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

@keyframes animar {
	to {
		background-position: var(--bg-size);
	}
}