---
import Layout from "#layouts/Layout.astro";
import Grid from "#components/Grid.astro";
import Section from "#components/Section.astro";
import HeroAbout from "#pods/about/HeroAbout.astro";
import ToolCollection from "#pods/tools-collection/tool-collection.astro";
import Contacts from "#pods/about/Contacts.astro";
import CVBtn from "#pods/about/CV-Btn.astro";

import { basics } from "#data/cv.json";
const { name, label, image } = basics;
---

<Layout title={`Acerca de ${name} • ${label}`}>
  <Grid>
    <Section ariaLabelledby="about-hero-heading" slot="hero">      
      <HeroAbout />
      <hr class="my-6 md:my-8 border-t border-dashed border-[rgb(var(--color),0.15)] ">
    </Section>
    
    <ToolCollection />

    <Fragment slot="aside">
      <CVBtn />
      <Contacts />
    </Fragment>
    
  </Grid>
</Layout>
