---
import Layout from "#layouts/Layout.astro";
import Section from "#components/Section.astro";
import HeroFeature from "#pods/heros/hero-feature.astro";
import PostFeature from "#pods/post-collection/post-feature.pod.astro";
import SkillsCollection from "#pods/sliders/skills-collection.astro";
import ProjectsFeatures from "#pods/projects/project-features.astro";
import SocialButtons from "#components/SocialButtons.astro";

import { basics } from "#data/info.json";
const { name, label } = basics;
---

<Layout title={`Portafolio de ${name} • ${label}`}>  
  <Section>
    <HeroFeature />    
  </Section>
  
  <Section>
    <SkillsCollection />
  </Section>

  <Section>
    <PostFeature />
  </Section>
  
  <Section>
    <ProjectsFeatures />
  </Section>

  <Section>
    <SocialButtons />
  </Section>
  
</Layout>
