---
const today = new Date();
import LogoER from "#assets/icons/LogoER.astro";
import Github from "#assets/icons/Github.astro";
import Bluesky from "#assets/icons/Bluesky.astro";
import Instagram from "#assets/icons/Instagram.astro";
import Linkedin from "#assets/icons/Linkedin.astro";
import Threads from "#assets/icons/Threads.astro";

import { basics } from "#data/info.json";
const { profiles } = basics;
const SOCIAL_ICONS: Record<string, any> = {
  Github,
  Linkedin,
  Instagram,
  Threads,
  Bluesky,
};
---

<footer
  class="max-w-175 mx-auto font-inconsolata text-[rgb(var(--color),0.85)]"
>
  <div class="px-5 py-12 mx-auto flex items-center sm:flex-row flex-col">
    <a
      href="#"
      class="flex font-medium items-center md:justify-start justify-center"
    >
      <span class="sr-only">footer</span>
      <LogoER />
    </a>
    <p
      class="text-xs font-light tracking-tighter opacity-65 sm:ml-4 sm:pl-4 sm:border-l sm:border-[rgb(var(--color),0.25)] sm:py-2 sm:mt-0 mt-4"
    >
      &copy; {today.getFullYear()} @Edirju. Todos los derechos reservados.
    </p>

    <nav
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start [&>a]:ml-3 [&>a]:text-[rgb(var(--color),0.65)] [&>a]:hover:text-secondary-500 [&>a]:transition-all [&>a>svg]:size-5"
    >
      {
        profiles.map(({ network, url }) => {
          const Icon = SOCIAL_ICONS[network];
          if (!Icon) return null;

          return (
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={`Ir a ${network}`}
              title={`Ir a ${network}`}              
            >
              <Icon />
            </a>
          );
        })
      }
    </nav>
  </div>
</footer>
