---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
  class="flex items-center gap-1 capitalize font-medium font-inter-tight tracking-tighter text-2xl text-shadow-lg text-[rgb(var(--color),0.85)] focus-visible:outline-none py-3 sm:py-5 hover:text-secondary-500 active:text-secondary-500 "
>
  <slot />
</a>
