---
import Info from "#assets/icons/Info.astro";
const { info } = Astro.props;
const { theme = {} } = info;
const { isDark = false } = theme;
---

<section
  class:list={[
    "hidden absolute bottom-6 left-6 border rounded-xl backdrop-blur-2xl sm:flex flex-col gap-3 overflow-hidden w-full max-w-75 shadow-[0_8px_40px_rgb(0_0_0_/0.15),0_2px_8px_rgb(0_0_0/0.08)] bg-linear-330 ",
    {
      "text-[rgb(var(--dark),0.85)] border-secondary-500/10 from-primary-300/25 to-primary-50/25 ":
        !isDark,
      "text-[rgb(var(--light),0.85)] border-tertiary-300/25 from-black/25 to-primary-800/50 ": isDark,
    },
  ]}
>
  <header
    class:list={[
      "border-b shrink-0 flex items-center gap-3 w-full px-6 py-4",
      {
        "border-tertiary-300/25": isDark,
        "border-secondary-500/25": !isDark,
      },
    ]}
  >
    <div 
      class:list={[
        "flex-1 h-px bg-linear-90 ",
        {
          "from-transparent to-tertiary-300": isDark,
          "from-transparent to-secondary-500": !isDark,
        }
      ]} 
    />
    <h1 
      class:list={[
        "flex items-center gap-1 text-sm uppercase font-black tracking-widest bg-clip-text text-transparent bg-linear-270 [&>svg]:size-4 ",
        {
          "from-tertiary-300 to-tertiary-200 [&>svg]:text-tertiary-300": isDark,
          "from-secondary-500 to-secondary-600 [&>svg]:text-secondary-500": !isDark,
        }
      ]}
    >
      <Info />
      <span class:list={[]}> Proyecto </span>
    </h1>
    <div 
      class:list={[
        "flex-1 h-px bg-linear-90 ",
        {
          "from-tertiary-300 to-transparent": isDark,
          "from-secondary-500 to-transparent": !isDark,
        }
      ]} 
    />
  </header>

  <footer 
    class:list={[
      "flex flex-col gap-2 px-6 py-2",
      {
        "": isDark,
        "": !isDark
      }
    ]}
  >
    <h2 
      class:list={[
        "text-xs font-semibold uppercase tracking-tight text-center ",
        {
          "text-tertiary-300/85 text-shadow-[0_0_8px_rgb(var(--light),0.35)]": isDark,
          "text-secondary-500/85 text-shadow-[0_0_8px_rgb(var(--dark),0.25)]": !isDark,
        }
      ]}
    >
      # {info.number} - {info.title}
    </h2>
    <a 
      href="/projects" 
      class:list={[
        "text-xs capitalize text-center font-inconsolata tracking-tighter ",
        {
          "hover:text-tertiary-300 hover:underline hover:underline-offset-2 transition-all duration-300": isDark,
          "hover:text-secondary-500 hover:underline hover:underline-offset-2 transition-all duration-300": !isDark,
        }
      ]}
    >
      <span>←</span> volver a 'proyectos'
    </a>
  </footer>  
</section>


