---
import ArrowLeft from "#assets/icons/ArrowLeft.astro";

interface Props {
  gobackText: string;
  publishedText: string;
  date: string;
}
const { gobackText, publishedText, date } = Astro.props;
---

<header
  class="flex items-center justify-between text-sm font-inconsolata font-light tracking-tighter"
>
  <a
    href="/blog"
    class="flex items-center gap-1.5 transition-all duration-300 hover:text-secondary-500 hover:underline hover:underline-offset-2"
  >
    <ArrowLeft aria-hidden="true" />
    {gobackText}
  </a>
  <p>
    {publishedText}{" "}
    <time datetime={date}>
      {
        new Date(date).toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>
  </p>
</header>
